.root {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
}

.username-field {
  -fx-pref-width: 200;
  -fx-pref-height: 30;
  -fx-background-color: lightblue;
  -fx-border-color: darkblue;
  -fx-border-width: 2;
}

.password-field {
  -fx-pref-width: 200;
  -fx-pref-height: 30;
  -fx-background-color: lightblue;
  -fx-border-color: darkblue;
  -fx-border-width: 2;
}

.button {
  -fx-pref-width: 200;
  -fx-pref-height: 30;
  -fx-background-color: darkblue;
  -fx-text-fill: white;
  -fx-border-color: darkblue;
  -fx-border-width: 2;
}
